@import 'styles/breakpoints';

.logo img {
    width: 200px;
}

header .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }
  
header .logo {
    max-width: 150px;
    display: block;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }

.menuBurger {
  display: none;

  @include size-tablet {
      display: block;
  }
}

.menu_top {
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
}